body{

       font-family: Arial, Helvetica, sans-serif;
    
    }

    html { 
        background: url('images/assets/sea-background-01-01.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

    
.choice-container{
    display: flex;
    margin-bottom:20px;
    margin-left:40px;
    width:500px;
    scrollbar-width:280px ;
    border-radius:40px;
    background: blue;
    font-size: 30px;
    padding: 1px;
    float:initial;
}

.choice-container:hover{
    cursor:pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;

}

p.choice-prefix{
    color: white;
    margin-left:50px;
}

.choice-text{
    padding: 1rem;
    width: 100%;
    color: white;

}

.correct{
    background: linear-gradient(32deg, green, 0%, rgb(41, 232, 111) 100%);
}

.incorrect{
    background: linear-gradient(32deg, red, 0%, rgb(248, 116, 116) 100%);
}

p{
    text-align: center;
    color: white;
}

/* Heads up Display */
#hud{
    display:flex;
    justify-content: space-between;
    margin: 50px;

}

.hud-item-2{
    background-color: blue;
    border-radius: 10px;
    margin-right: 20px;
    padding-right:10px;
    padding-left: 10px;
}


.hud-prefix{
    text-align:center;
    font-size: 30px;
    background-color: blue;
}

.hud-main-text{
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: blue;
}

#progressBar{
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid green;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;

}

#progressBarFull{
    height: 100%;
    background: green;
    width:0%
}

.column {
    float: left;
    width: 50%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }

  .return{
    padding-bottom: 1rem;
    font-size: 30px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 30px;
    }

    .return{
        padding-bottom: 1rem;
        font-size: 30px;
        color: white;
        background-color: blue;
        border-radius: 10px;
        margin-left: 0px;
        margin-top: 30px;
        }


div.time{

    font-size: 50px;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 70px;
    background-color: green;
    padding-right:30px;
    padding-left: 30px;
    padding-bottom:0px;
    padding-top: 10px;
    text-align: center;
    border-radius: 20px;
    color: white;
}

h2{
    font-size: 30px;
    margin-top: 30px;
    margin-left: 20px;
    background-color: red;
    color: white;
}



/*pop-up message*/
.popup-box{
	display: none;
	position: fixed;
	text-align: center;
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0;
	left: 0;
}

.popup-inner{
	max-width: 300px;
	min-height: 160px;
	background: white;
  border-radius: 25px;
	padding: 15px;
	margin: auto;
	top: 25%;
	position: relative;
}



.popup-msg{
	font-weight: bold;
	color: black;
	padding: 20px 20px 0 20px;
}

.next-step-btn{
	margin:20px auto 0;
background: linear-gradient(rgb(204,0,0), rgb(130,0,0));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#015eab', endColorstr='#10276b');
	border: none !important;
	padding: 10px 40px !important;
	color: #fff !important;
	font-weight: bold;
	border-radius: 3px;
	cursor: pointer;
}

.transparent-layer{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.3;
overflow: hidden;

}






@media screen and (max-width: 782px) {
    .choice-container{
        width: 500px;
    }
    h1{
        margin-top: 50px;
        font-size: 30px;
    }
}

@media screen and (max-width: 1997px){

    img{
        width: 300px;
    }
    .choice-container{
        margin-top: 0px;
    }

    h1{
        margin-top: 50px;
        
    }
 
}

