body{

       font-family: Arial, Helvetica, sans-serif;
    
    }

    html { 
        background: url('images/assets/sea-background-01-01.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

    
.choice-container{
    display: flex;
    margin-bottom:20px;
    margin-left:70px;
    width:500px;
    scrollbar-width:280px ;
    border-radius:40px;
    background: blue;
    font-size: 30px;
    padding: 1px;
    float:initial;
}

.choice-container:hover{
    cursor:pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;

}

p.choice-prefix{
    color: white;
    margin-left:50px;
}

.choice-text{
    padding: 1rem;
    width: 100%;
    color: white;

}

.correct{
    background: linear-gradient(32deg, green, 0%, rgb(41, 232, 111) 100%);
}

.incorrect{
    background: linear-gradient(32deg, red, 0%, rgb(248, 116, 116) 100%);
}

p{
    text-align: center;
    color: white;
}

/* Heads up Display */
#hud{
    display:flex;
    justify-content: space-between;

}

.hud-item-2{
    background-color: blue;
    border-radius: 10px;
    margin-right: 20px;
    padding-right:10px;
    padding-left: 10px;
}


.hud-prefix{
    text-align:center;
    font-size: 30px;
    background-color: blue;
}

.hud-main-text{
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: blue;
}

#progressBar{
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid green;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;

}

#progressBarFull{
    height: 100%;
    background: green;
    width:0%
}

.column {
    float: left;
    width: 50%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }

  .return{
    padding-bottom: 1rem;
    font-size: 40px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    
    
    }


div.time{

    font-size: 70px;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 70px;
    background-color: green;
    padding-right:30px;
    padding-left: 30px;
    padding-bottom:10px;
    text-align: center;
    border-radius: 20px;
    color: white;
}

h2{
    font-size: 40px;
    margin-top: 60px;
    margin-left: 20px;
}




@media screen and (max-width: 782px) {
    .choice-container{
        width: 500px;
    }
    h1{
        margin-top: 50px;
        font-size: 30px;
    }
}

@media screen and (max-width: 1997px){

    img{
        width: 300px;
    }
    .choice-container{
        margin-top: 0px;
    }

    h1{
        margin-top: 50px;
        
    }
 
}

